{% extends "base.html" %}
{% block titulo %} Artistas {% endblock %}

{% block contenido %}

<div style="display: flex;">
    <!-- Columna de la izquierda -->
    <div style="flex: 1;">
        <div class="filter-buttons">
            <button id="filter-especial"><a href="?status=True">Edicion Especial</a></button>
            <button id="filter-normal"><a href="?status=False">Edicion Normal</a></button>
        </div>

        <table>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Artista</th>
                <th>Fecha de lanzamiento</th>
                <th>Precio</th>
                <th>Tipo de edicion</th>
            </tr>
            {% for album in albums %}
                <tr class="{{ album.edicion_especial }}">
                    <td>{{ album.id_album }}</td>
                    <td>{{ album.titulo }}</td>
                    <td>{{ album.artista }}</td>
                    <td>{{ album.fecha_lanzamiento }}</td>
                    <td>{{ album.precio }}</td>
                    <td>{{ album.edicion_especial }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Columna de la derecha -->
    <div style="width: 40vh; height: 300px; display: flex; justify-content: center; align-items: center;">
        <div class="action-buttons">
            <button id="add-button"><a href="#">Agregar</a></button>
            <button id="search-button"><a href="#">Busqueda por ID</a></button>
        </div>
    </div>
</div>

<script>
    const filterActiveButton = document.getElementById('filter-especial');
    const filterInactiveButton = document.getElementById('filter-normal');
    const albumRows = document.querySelectorAll('table tr:not(:first-child)');
    /*
    filterActiveButton.addEventListener('click', () => {
        filterAlbums('Especial');
    });

    filterInactiveButton.addEventListener('click', () => {
        filterAlbums('Normal');
    });

    function filterAlbums(status) {
        artistRows.forEach(row => {
            if (row.classList.contains(status)) {
                row.style.display = 'table-row';
            } else {
                row.style.display = 'none';
            }
        });
    }
    */
</script>

{% endblock %}